@import './libs'
@import './vars'
@import './fonts'

body, html
  overflow-x: hidden
  background-color: $primary-color
  color: $secondary-color
  font-family: $primary-font
  font-size: 16px
  text-transform: uppercase

.primaryBtn
  padding: 9px 28px 
  border-radius: 29px
  font-size: 20px
  outline: none
  border: none
  cursor: pointer
  text-transform: uppercase
  font-weight: 500
  font-family: $primary-font

.arrow
  box-sizing: content-box
  padding: 5px
  height: 4vw
  width: 1px
  position: absolute
  cursor: pointer
  &__block
    background-color: $secondary-color
    width: 100%
    height: 100%
    position: relative
    &::before
      content: ""
      border: 1px solid $secondary-color
      padding: 3px
      transform: rotate(45deg) 
      display: inline-block
      border-top: transparent
      border-left: transparent
      position: absolute
      bottom: 0
      left: -3px

.highlight
  color: $tertiary-color

.social
  color: $quaternary-color
  font-size: 26px
  &__icon
    cursor: pointer

.header
  padding: 29px $section-offset
  position: relative
  min-height: 48vw
  &__bg
    position: absolute
    top: -21vw
    left: 50%
    transform: translateX(-50%)
    width: 100%
    height: auto
    z-index: 0
  &__topBar
    display: flex
    justify-content: space-between
  &__logo
    width: 15.39vw
  &__clientBtn
    background-color: $secondary-color
    color: $quaternary-color
  &__social
    display: flex
    flex-direction: column
    position: absolute
    top: 50%
    transform: translateY(-50%)
    right: $section-offset 
  &__socialIcon
    margin-top: 40px
  &__contentWrap
    display: flex
    width: 77.421875vw
    justify-content: space-between
    align-items: center
  &__name
    font-size: 11.71875vw
    width: min-content
    margin: 0
  &__about
    font-size: 3.125vw
    text-align: center
  &__nameCaption
    font-size: 2.03125vw
    display: flex
    justify-content: flex-end
  &__chatBtn
    outline: none
    border: none  
    background-color: $tertiary-color
    border-radius: 50%
    width: 75px
    height: 75px
    font-family: $primary-font
    font-weight: 200
    font-size: 30px
    padding-bottom: 5px
    position: absolute
    right: $section-offset

.sectionIndicator
  position: absolute
  left: -$section-offset
  display: flex
  align-items: center
  transform: rotate(-90deg)
  font-size: 2.34vw
  top: 40%
  color: $tertiary-color
  font-weight: 200 
  &__name
    margin: 0
    font-weight: 300
  &__line
    width: 7.26vw
    height: 1px
    background-color: #8A8A8A
    margin: 0 18px 
  &__sectionCount
    transform: rotate(90deg)

.advice
  position: relative
  padding: 12.18vw $section-offset
  &__contentWrap
    width: fit-content
    margin-left: auto
    margin-right: 18.625vw
    display: flex
    flex-direction: column
    justify-content: flex-start
  &__pros
    display: flex
    flex-direction: column
    justify-content: flex-start
    margin-bottom: 0
  &__more
    text-transform: lowercase
    font-weight: 300
    font-size: 4.68vw
  &__moreWrap:nth-of-type(1) &__more
    color: #9B9B9B
  &__moreWrap:nth-of-type(2) &__more
    color: #6B6A6A
  &__moreWrap:nth-of-type(3) &__more
    color: #4B4B4B
  &__feature
    font-size: 4.68vw
  &__description
    width: 71%
    margin-left: auto
  &__action
    color: $tertiary-color
    font-size: 1.56vw
    font-weight: 300
    margin: 43px 0
  &__btn
    background-color: $tertiary-color

.youGet
  &__about
    color: #A5A5A5
    width: 48.82vw
    font-size: 2.34vw
    margin-left: 12.89vw

.weDo
  margin-top: 30.46vw
  &__titleWrap
    background-image: url("../img/iron.png")
    background-size: 100% auto
    background-repeat: no-repeat
    background-position: bottom
    display: flex
    background-repeat: no-repeat
    justify-content: flex-end
    padding-right: 9.84vw 
    padding-bottom: 2.73vw
  &__bg
    width: 100%
    height: auto
    position: absolute
  &__title
    font-size: 15.62vw
    width: 37vw
    margin: 0
  &__about
    background-image: url("../img/blackWhite.png")
    background-size: 100% auto
    background-repeat: no-repeat
    background-position: top
    display: flex
    justify-content: center
    padding-top: 17.1vw 
    min-height: 55vw
  &__description
  &__line
    display: inline-flex
    background-color: $tertiary-color
    font-size: 3.90vw
    margin-bottom: 1.32vw
    color: #ffdee7
    font-weight: bold
    padding: 6px

.process
  padding-top: 5.93vw 
  &__header
    font-size: 11.71vw
    margin: 0
    color: $tertiary-color  
    padding-left: 12.26vw
  &__description
    font-size: 2.34vw
    color: $primary-color
    font-weight: 600
  &__line
    display: block
    background-color: $secondary-color
    padding: 1.40vw
    margin-top: 0.78vw
    padding-left: 12.26vw
    padding-right: 16.95vw

.agreement
  position: relative
  padding-top: 28.28vw
  &__arrow
    top: 4.8vw
    left: 32.5vw
    height: 18.04vw

.optin
  *
    box-sizing: border-box

  padding: 50px
  max-width: 1200px
  margin: 0 auto
  position: relative
  overflow: hidden

  &__fieldset
    border: 0px
  &__flex__wrapper
    display: flex
    flex-wrap: wrap
    justify-content: center

  &__getin__touch
    flex: 0 0 5%
    max-width: 5%
    padding: 0 15px
    position: relative
    padding-top: 230px

  &__getin__heading1
    transform: rotate(-90deg)
    color: #fc2062
    position: absolute
    left: -95px
    height: 4%
    width: 250px
    top: 7%
    font-weight: normal
    font-size: 26px
  &__getin__heading2
    color: #fc2062
    font-weight: normal
    font-size: 26px
  &__vertical__line
    height: 200px
    width: 2px
    display: block
    margin: 0px auto
    background-color: #ccc
    opacity: 0.5
  &__intro
    max-width: 35%
    flex: 0 0 35%
    padding: 0px 15px
    // float: left
    &__text-white
      color: #fff
      display: block
      line-height: 1.2em
      font-size: 8em
      font-weight: bold
    &__text-pink
      color: #fc2062
      display: block
      line-height: 1.2em
      font-size: 8em
      font-weight: bold
    &__text-mail
      font-size: 2.4em
      line-height: 1.7em
      color: #fff
      display: block
    &__text-phone
      display: block
      font-weight: 200
      font-size: 1.8em
      line-height: 1.7em
      color: #fff 
  &__form
    max-width: 40%
    flex: 0 0 40%
    padding: 0px 15px
    position: relative
    &__text
      margin-top: 40px
      margin-bottom: 30px
      font-size: 30px
      font-weight: 500
      color: #fc2062
      text-transform: capitalize
    &__input
      padding: 15px 20px 15px 0px
      width: 100%
      background-color: #000
      color: #fff
      border: none
      font-size: 2.2em
      font-weight: 300
      font-family: $primary-font
      &:placeholder
        color: #4b4b4b
      &:hover, &:focus, &:active
        outline: none
        border: none
    &__submit
      padding-top: 30px
      // display: none
    &__next
      color: #fff
      text-decoration: none
      text-transform: lowercase
      font-size: 26px
      position: relative
      display: block
      .arrow
        box-sizing: content-box
        height: 1px
        padding: 0px
        width: 60px
        position: absolute
        cursor: pointer
        left: 50px
        top: 16px
        background-color: $secondary-color
        &__block
          background-color: $secondary-color
          width: 100%
          height: 100%
          position: relative
          display: block
          &::before
            content: ""
            border: 1px solid $secondary-color
            padding: 3px
            transform: rotate(-45deg)
            display: inline-block
            border-top: transparent
            border-left: transparent
            position: absolute
            bottom: -3px
            right: 0
            left: calc(100% - 6px)
    &__submitbtn
      background-color: #fc2062
      padding: 12px 30px
      font-size: 20px
      color: #000
      appearance: none
      border-radius: 50px
      outline: none
      font-weight: 600
      text-transform: uppercase
      border: 0px
      font-family: $primary-font
      cursor: pointer

  &__social
    transform: translateY(20%)
    max-width: 5%
    flex: 0 0 5%
    padding: 0px 15px
    display: flex
    flex-direction: column
    // position: absolute
    // top: 50%
  &__socialIcon
    margin-top: 40px
  &__footer
    margin: 0px
    padding: 75px 0px 0px
    width: 100%
    text-align: center
    display: flex
    align-items: center
    justify-content: flex-end
    &__logo
      text-align: center
      clear: both
      margin-right: 50px
  
    &__heading
      font-size: 20px
      font-weight: normal
      letter-spacing: 0.5px
    &__anchor
      color: #fff
      text-decoration: none


    


@import './media'